<div class="container-fluid">
	<div class="row">
		<div class="col-md-6 col-md-offset-3">
			<form role="form">
				<div class="form-group">
					<h1>
						<p class="text-center">Circle</p>
					</h1>


					<h2>
						<small>Circle Name</small>
					</h2>
					<input class="form-control" Placeholder="Circle Name"
						id="exampleInputEmail1" type="email" />
				</div>
				<div class="form-group">

					<h2>
						<small>Circle Description</small>
					</h2>
					<input class="form-control" Placeholder="Description"
						id="exampleInputEmail1" type="email" />
				</div>

				<div class="form-group">

					<h2>
						<small>Add Users to Circle</small>
					</h2>
					<input class="form-control" Placeholder="Add Users to circle"
						id="exampleInputEmail1" type="email" />
				</div>

				<div>
					<label for="id_label_multiple"> Click users to add in Circle <select
						class="js-example-basic-multiple js-states form-control"
						id="id_label_multiple" multiple="multiple"></select>
					</label>
				</div>
				<button type="submit" class="btn btn-default">Create Circle
				</button>
			</form>
		</div>
	</div>
</div>