<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<nav class="navbar navbar-default navbar-inverse navbar-fixed-top"
				role="navigation">
				<div class="navbar-header">
					<div class="container">
						<!-- Brand and toggle get grouped for better mobile display -->
						<div class="navbar-header page-scroll">

							<a class="navbar-brand page-scroll" href="#page-top">Welcome
								to ACTIVITY STREAM</a>
						</div>

						<!-- Collect the nav links, forms, and other content for toggling -->
						<div class="collapse navbar-collapse"
							id="bs-example-navbar-collapse-1">
							<div class="collapse navbar-collapse"
								id="bs-example-navbar-collapse-1">
								<ul class="nav navbar-nav navbar-right">
									<li class="dropdown"><a href="#" class="dropdown-toggle"
										data-toggle="dropdown">Hi: {{currentUser.username}}<strong
											class="caret"></strong>
									</a>
										<ul class="dropdown-menu">
											<li><span class="glyphicon glyphicon-user"><a
													href="#"> Profile</a></span></li>
											<li><a href="#">Circles</a></li>
											<li class="divider dropdown-divider"></li>
											<li><span class="glyphicon glyphicon-log-out"><a
													[routerLink]="['/login']"> Logout</a></span></li>
										</ul></li>
								</ul>
							</div>
						</div>
						<!-- /.navbar-collapse -->
					</div>
					<!-- /.container-fluid -->
				</div>
			</nav>
		</div>
	</div>
	<div class="container-fluid">
		<div class="col-md-12">
			<div class="row">
				<div class="col-md-3">
					<div class="container-fluid">
						<div class="row">
							<div class="col-md-12">
								<div class="btn-group">
									<br><br>
									<button class="btn btn-default">Registered Users</button>
									<button data-toggle="dropdown"
										class="btn btn-default dropdown-toggle">
										<span class="caret"></span>
									</button>
									<ul class="dropdown-menu">
										<table class="table" >
											<tbody *ngFor="let user of users">
												<tr>
													<td><span class="glyphicon glyphicon-user">
															{{user.username}}</span>
															
													 <td><a (click)="deleteUser(user.id)">
													<span class="glyphicon glyphicon-trash">
													</span></a></td> 
												</tr>
											</tbody>
										</table>
										
										<table class="table" >
											<tbody>
												<tr>
													<td>Add User	
													<a [routerLink]="['/register']" class="btn btn-link">
													<span class="glyphicon glyphicon-plus-sign">
													</span></a>														
													 </td> 
												</tr>
											</tbody>
										</table>
									</ul>
								</div>
							</div>
						</div>
					</div>
					<hr>


					<div class="container-fluid">
						<div class="row">
							<div class="col-md-12">
								<div class="btn-group">

									<button class="btn btn-default">All Circles</button>
									<button data-toggle="dropdown"
										class="btn btn-default dropdown-toggle">
										<span class="caret"></span>
									</button>
									<ul class="dropdown-menu">
										<li><a [routerLink]="['/circle']">Create Circle</a></li>
										<li class="divider dropdown-divider"></li>
										<li *ngFor="let circle of circles"><a href="#"
											ng-click="ctrl.getMyCircleMessages(circle)">

												{{circle.circlename}}</a></li>

									</ul>
								</div>
							</div>
						</div>
					</div>
					<hr>
					<div class="container-fluid">
						<div class="row">
							<div class="col-md-12">
								<div class="dropdown">

									<button class="btn btn-default">My Circles</button>
									<button data-toggle="dropdown"
										class="btn btn-default dropdown-toggle">
										<span class="caret"></span>
									</button>
									<ul class="dropdown-menu">

										<li><a [routerLink]="['/circle']">Create Circle</a></li>
										<li class="divider dropdown-divider"></li>
										<li *ngFor="let circle of mycircles"><a href="#"
											(click)="loadMessagesByCircle(circle)">
												{{circle.circlename}}</a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
					<hr>
					<div class="input-group">
						<input type="text" class="form-control"
							placeholder="Search Circle.."> <span
							class="input-group-btn">
							<button class="btn btn-default" type="button">
								<span class="glyphicon glyphicon-search"></span>
							</button>
						</span>
					</div>

				</div>
				<div class="col-md-6">
					<div class="panel-body">
						<h4>
							<p class="glyphicon glyphicon-inbox"> {{currentCircle.circlename}}</p>
						</h4>
						<hr>
						<!--
						<ul *ngFor="let message of messages">
							<li><h5>
									<span class="label label-success">Sender: {{message.senderid}}</span>
								</h5>
							<span class="glyphicon glyphicon-envelope"> {{message.msgtext}}</span>
							<span class="glyphicon glyphicon-time">{{message.createddate | date:'medium'}}</span>
							</li>
						</ul>
						-->
						<ul *ngFor="let message of messages">
						<li>
						<div class="list-group">
						  <a href="#" class="list-group-item">
						  	<!--
						    <h4 class="list-group-item-heading">{{getUsername(message.senderid)}}</h4>
							-->
							<span class="glyphicon glyphicon-user"> {{getUsername(message.senderid)}}</span>
						    <p class="list-group-item-text">{{message.msgtext}}</p>
						    <span class="glyphicon glyphicon-time"> {{message.createddate | date:'dd MMM, hh:mm:ss a'}}</span>
						  </a>
						</div>
						</li>
						</ul>

						<hr>
						<h4>
							<small>Compose Message</small>
						</h4>
						<form role="form" name="form" (ngSubmit)="f.form.valid && sendMessage()" #f="ngForm" novalidate>
						 	<div class="form-group">
								<textarea name="msgtext" class="form-control" rows="1" [(ngModel)]="newMessage.msgtext" msgtext="ngModel" required></textarea>
							</div>
							<button class="btn btn-success">Send</button>
						</form>

						<div class="table-responsive">

							<!-- <h3>
								<small>My Inbox</small>
							</h3>
							<hr> -->
							<!-- <table class="table table-bordered table-hover table-striped">
								<thead>
									<tr>
										<th>First Name</th>
										<th>Last Name</th>
										<th>User Name</th>
										<th>Email</th>
										<th>Action</th>
									</tr>
								</thead>
								<tbody *ngFor="let user of users">
									<tr>
										<td>{{user.firstname}}</td>
										<td>{{user.lastname}}</td>
										<td>{{user.username}}</td>
										<td>{{user.email}}</td>
										<td><a (click)="deleteUser(user.id)">Delete</a></td>
									</tr>
								</tbody>
							</table> -->
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>